@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous.ttf");
}
*{
    font-family: Righteous;
}

body{
    overflow-x: hidden;
}
//c7c8ef

$btn-text: #DEDEDE;
$btn-bg: #EDAB2F;
$btn-bg-active: #A16900;
$main-color: #4D9AFF;
$main-color-2: #2F80ED;
$main-color-dark: #104FA1;


div.alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a{
        color:#B33D3D;
        text-decoration: none;
        transition: all .3s;
    }

    a:hover{
        color:$main-color-dark !important;
    }
}

.cri-btn{
    background: $btn-bg;
    color: $btn-text;
}
.cri-btn:hover{
    background: $btn-bg-active !important;
    color: white;
}

div.cri-title{
    width: 100%;
    text-align: center;

    h2{
        font-size: 4.5rem;
        padding: 3rem;
        color: $main-color;
    }

}

.cri-title-desc{
    color: #BDBDBD;
    font-size:1.5rem;

    width: 100%;
    text-align: center;
}

.cri-title-desc-2{
    color: #BDBDBD;
    font-size:.8rem;

    align-items: center;
    text-align: center;
    letter-spacing: 0.16em;
    
    color: #4F4F4F;
}

section{margin-bottom: 3rem;}
section#home{
    width: 100%;
    height: 100vh;

    position: relative;

    img{
        width: 100%;
        height: 100%;

        object-fit: cover;

        filter: brightness(30%);
    }

    div.padding{
        width: 90%;
        height: auto;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cri-title{
            font-size: 9rem;
            color: #E2FCFF;
        }

        p{
            width: 50%;
            font-size: 1rem;
            color: #F2F2F2;
        }

        button{
            padding-left: 2rem;
            padding-right: 2rem;

            font-size: 1.6rem;
            margin: .3rem;

            background: $btn-bg;
            color: $btn-text;
        }
    }
}

$size-card-window: 23rem;

section#portafolio{
    div.container{
        div.cri-card-container{
            display: grid !important;
            grid-template-columns: repeat(auto-fill, minmax($size-card-window, 1fr));
            grid-template-rows: repeat(auto-fill, 1fr) !important;
            grid-gap: .3em;
            grid-row-gap: 1.9em;
            justify-content: center;
            a.cri-card:hover{
                transition: all .3s, box-shadow .2s ease-in;
                box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.25);
                background: $btn-bg;

                img{
                    filter: brightness(90%) !important;
                }
            }
            a.cri-card{
                height: 100%;
                max-width: $size-card-window;
                background: $main-color;
                box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
                transition: all 1s;
                transition: all .3s, box-shadow .4s ease-out;
                text-decoration: none;

                margin: auto;

                div.cri-img{
                    width: $size-card-window;
                    height: $size-card-window;

                    img{
                        width: 100%;
                        height: 100%;

                        object-fit: cover;
                        filter: brightness(60%);

                        transition: all .3s;
                    }
                }

                div.cri-text-cont{
                    margin: .75rem 1.313rem 2rem 1.313rem;
                    p.cri-card-title{
                        font-size: 1.3rem;
                        color: white;
                    }

                    p.cri-card-desc{
                        font-size: 0.8rem;
                        color: #d8d8d8;
                    }
                }
            }
        }
    }
}

section#nosotros{
    div.cri-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;

        div.cri-divide{
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div.cri-img{
                overflow: hidden;
                width: 100%;
                height: 29.688rem;

                margin-bottom: .3em;

                img{
                    width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    
                        border: 1px solid #A8A8A8;
                        box-sizing: border-box;
                }
            }

            div.cri-text{
                width: 66%;
                text-align: center;
            }
        }
        div.cri-divide-left{
            width: 100%;
            height: 100%;

            display: grid;
            grid-template-rows: repeat(3, 30%);
            grid-template-columns: 100%;
            grid-gap: 6%;
            justify-content:space-between;
            align-items: center;

            div.cri-grid{
                width: 100%;
                height: 11.25rem;
                display: grid;
                grid-template-columns: 40% 56%;
                div.cri-img{
                    width: 11.25rem;
                    height: 11.25rem;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border: 1px solid #A8A8A8;
                        box-sizing: border-box; 
                    }
                }
            }
        }

        div.cri-text{
            display: flex;flex-direction: column;
            align-items: start;
            justify-content: center;
            p.cri-title-grid{
                font-size: 2.25rem;
                color: $main-color-2;
            }

            p.cri-desc-grid{
                font-size: .813rem;
                color: #000000;
            }
        }
    }
}

section#valores, section#servicios{
    div.cri-container{
        margin: auto;
        width: 80%;
        display: grid !important;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-gap: 1.6rem;
        grid-row-gap: 1.9em;
        justify-content: center;
        
        div.cri-card:hover{
            background: #dbdbdb;
            box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5);
        }
        div.cri-card{
            transition: all 0.3s, box-shadow 0.5s ease-out;

            background: #F2F2F2;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            div.padding{
                margin: 3rem;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p{text-align: center;}

                p.cri-card-title{
                    margin-top: 1.5rem;
                    font-size: 1.5rem;
                    color: $main-color-2;
                }

                p.cri-card-desc{
                    margin-top: 1rem;
                    font-size: .9rem;
                    color: #488c9d;
                }
            }
        }
    }

    div.cri-container.type_2{
        div.cri-card:hover{
            background: $main-color-2 !important;
            box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.5) !important;
        }

        div.cri-card{
            background: $main-color !important;

            svg{
                fill: #c7c8ef !important;
            }   
            p.cri-card-title{
                color: white !important;
            }

            p.cri-card-desc{
                color: white !important;
            }
        }
    }
}

section#trabajosCon{
    width: 100%;

    position: relative;

    div.container{width: 90% !important;}

    div.padding{
        width: 100%;
        height: 100%;

        position: relative;
        top: 0;
        left: 0;
    }

    div.cri-title{
        h2{
            font-size: 8.125rem !important;
            color: white !important;
        }
    }
    div.cri-bg-img{
        width: 100%;
        height: content;

        img.cri-bg-img{
            width: 100%;height: 100%;
            filter: brightness(20%);

            position: absolute;
        }
    }

    div.cri-brands{
        width: 90%;
        margin: auto;
        padding-bottom: 3rem;

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        div.cri-brand:hover{
            transform: scale(1.1);
        }
        div.cri-brand, a.cri-brand{
            width: 15.6rem;
            height: 5.75rem;
            padding: 1.25rem;
            margin: 1rem;
            transition: all 0.3s;

            background: rgba(212, 212, 213, 0.226);
            border-radius: 10px;
            img{
                width: 100%;
                height: 100%;

                object-fit: contain;
               
            }
        }
    }
}

section#contacto{
    div.container:nth-child(2){
        transform: scale(0);
        display:flex;
        flex-wrap: wrap;

        div.cri-divider{
            width: 50%;
        }

        div.cri-divider:nth-child(1){
            form{
                input, textarea{
                    border: 1px solid #56CCF2;
                }

                button{
                    width: 100%;
                }
            }
        }
        div.cri-divider:nth-child(2){
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            *{
                margin-bottom: .6rem;
            }

            p{
                color: #4F4F4F;
                font-size: .8rem;
            }

            a{
                color: $btn_bg;
                font-size: 1.12rem;
                text-decoration: none;
                
            }
        }
    }
}

nav{
    width: 100% !important;
    transition: all .3s;
    a.navbar-brand{
        color: #FFFFFF !important;
    }

    ul.navbar-nav{
        li.nav-item{
            a.nav-link{
                padding: .6rem .9rem .6rem .9rem;
                color: #E0E0E0;
                font-size: .8rem;
                margin-left: .3rem;
            }

            a.nav-link.active{
                color: #E0E0E0;
                background: $btn-bg-active;
                border-radius: 10px;
            }

            a.nav-link:hover{
                background: $btn-bg;
                border-radius: 10px;
            }
        }
    }
}

nav.cri-scroll-change{
    background: $main-color-dark;

}

footer{
    background: $main-color-dark;

    padding: 6.9rem 0 3rem 0;

    *{color: #E0E0E0;}

    div.downnavbar{
        display: flex;
        justify-content: space-around;
        align-items: center;

        div.divider{
            width: 50%;

            a.cri-brand{
                font-size: 2.35rem;
                color: white;
                text-decoration: none;
            }
        }

        div.divider:nth-child(2){
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a.navbutton{
                margin-left: 2.25rem;
                text-decoration: none;

                padding: .4rem 1rem .4rem 1rem;
                border-radius: 10px;

                transition: all .3s;
            }

            a.navbutton:hover{
                background: $btn-bg;
                color: $btn-text;
            }
            a.navbutton:nth-child(1){margin-left: 0 !important;}

        }
    }

    div.socialmedia{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        a{
            margin: 1rem;
            padding: .6rem .9rem;
            border-radius: 10px;
            background: $main-color-2;
            text-align: center;
            
            transition: all .3s ease-in;
            text-decoration: none;
            *{
                font-size: 3rem;
                transition: all .3s ease-in;
            }
        }

        a:hover{
            *{color: $btn-bg}
        }
    }

    div.copyright {
        text-align: center;
        a{
            text-decoration: none;
            font-size: .8rem;
            line-height: 140.62%;
            text-align: center;

            color: #A8A8A8;
        }
    }
}


div.cri-card-open{
    animation: fadeOut_animation .3s;
    display: none;
    width: 100% !important;
    height: 100% !important;

    position: fixed;
    top: 0;
    left: 0;
    background: #000000bb;

    z-index: 99999;
    overflow-x: hidden;
    overflow-y: scroll;

    div.padding{
        width: 90%;
        height: fit-content;

        position: relative;
        
        margin: 6vh auto 6vh auto;

        background: white;

        padding-top: 3em;
        padding-bottom: 3em;

        div.container{

            div.cri-divider-c{
                display:flex !important;
                justify-content: space-around;
                flex-wrap: wrap;

                div.cri-divider{
                    width: 100%;

                    div.carousel{
                        width: 100% !important;
                        height: 80vh !important;
                        max-width: 100% !important;
                        max-height: 100% !important;

                        background: $main-color-dark;

                        img{
                            object-fit: contain;
                        }

                        div.carousel-inner{
                            width: 100% !important;
                            height: 100% !important;
                            object-fit: contain;

                            div.carousel-item{
                                height: 100% !important;
                                width: 100% !important;
                                img{
                                    min-width: 100% !important;
                                    min-height: 100% !important;
                                    max-width: 100% !important;
                                    max-height: 100% !important;
                                }
                            }
                        }

                        button{
                            background: #44444460;
                            border: 1px solid white
                        }
                    }
                }

                div.container{
                    height:100%;
                    display: grid;
                    grid-template-rows: 1fr .5fr;
                    h3{
                        color:#d38542;
                    }

                    p.testimonio-title{
                        color:rgba(16, 88, 16, 0.856);
                    }

                    p.testimonio-desc{
                        color:#4f4f4fb9;
                    }

                    div.cri-container:nth-child(2){
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-end;  
                    }
                }
            }
        }
    }
}

div#proyecto00:target, div#proyecto01:target, div#proyecto02:target, div#proyecto03:target, div#proyecto04:target, div#proyecto05:target{
    display: block;
    animation: fadeIn_animation .6s forwards;
}
//ANIMACIONES

.down_animation{
    animation: down_animation .6s ease-in forwards;
}

.left_animation-long{
    right: auto !important;
    animation: left_animation 5s ease forwards;
}
.left_animation{
    right: auto !important;
    animation: left_animation 1s ease forwards;
}

.right_animation{
    left: auto !important;
    animation: right_animation 1.6s ease forwards;
}

.o_cero{opacity: 0;}

.fadeIn_animation{animation: fadeIn_animation .4s linear forwards;}
.fadeOut_animation{animation: fadeOut_animation .3s ease-out forwards;}

.fadeUp_animation{animation: fadeUp_animation .4s ease-in forwards;}

.zoomIn_animation{animation: zoomIn_animation .3s linear forwards;}
.zoomOut_animation{animation: zoomOut_animation .3s ease-out forwards;}

@keyframes down_animation{
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes left_animation{
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes right_animation{
    0% {
        opacity: 0;
        transform: translateX(30%);
    }

    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeIn_animation{
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fadeOut_animation{
    0% {
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes zoomIn_animation{
    0% {
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes zoomOut_animation{
    0% {
        transform: scale(1);
    }

    100%{
        transform: scale(0);
    }
}

@keyframes fadeUp_animation{
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


@media only screen and (max-width: 1199px) {
    section#portafolio{
        div.cri-card-container{
            a.cri-card{
                min-width: 100% !important;
                height: 100%;

                div.cri-img{
                    width: 100% !important;
                    height: 20rem !important;
                }
            }
        }
    } 

    div.cri-card-open{
        div.padding{
            div.container{
                div.cri-divider-c{
                    div.cri-divider{
                        div.container{
                            div.cri-container{
                                h3{
                                    font-size: 1.5rem;
                                }

                                p{
                                    font-size: .8rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    section#home{
        div.padding{
            max-width: 96% !important;
            h1.cri-title{
                font-size: 8rem;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    section#portafolio{
        div.container{
            min-width: 90% !important;
        }
        div.cri-card-container{
            //grid-template-columns: repeat(auto-fill, minmax(10rem, 18rem)) !important;
            a.cri-card{
                min-width: 100% !important;

                div.cri-img{
                    width: 100% !important;
                    height: 20rem !important;
                }
            }
        }
    } 

    section#nosotros{
        div.container{min-width: 90% !important;}
    
        div.cri-container{
            div.cri-divide-left{
                div.cri-grid{
                    grid-template-columns: 45% 56%;
                    grid-column-gap: .7em !important;
                    div.cri-text{
                        p.cri-title-grid{
                            font-size: 2rem;
                        }

                        p.cri-desc-grid{
                            width: 86% !important;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }

    section#trabajosCon{
        div.container{width: 98% !important;}
    
        div.cri-title{
            h2{
                font-size: 6rem !important;
            }
        }
    }

        
    footer{
        div.downnavbar{
            div.divider{
                width: 50%;

                a.cri-brand{
                    font-size: 2rem !important;
                }
            }

            div.divider:nth-child(2){
                a.navbutton{
                    margin-left: 2rem;
                    padding: .4rem .5rem .4rem .5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    section#home{
        div.padding{
            h1.cri-title{
                font-size: 7rem !important;
            }

            p{
                width: 90% !important;
            }

            div.button_content{
                width: 60% !important;
                button.cri-btn, a.cri-btn{
                    font-size: 1.3rem !important;
                }
            }
        }
    }

    section#nosotros{
        div.cri-container{
            grid-template-columns: 60% 40% !important;
        }
    }

    div.cri-card-open{
        div.padding{
            top: 0%;
            transform: translate(-50%, 0%);

            margin-top: 5%;
            margin-bottom: 5%;
            div.container{
                div.cri-divider-c{
                    div.cri-divider:nth-child(2){
                        margin-top: 2rem;
                    }
                    div.cri-divider{
                        width: 100% !important  ;
                        div.container{
                            grid-template-rows: 1fr auto !important;
                            div.cri-container{
                                h3{
                                    font-size: 2rem;
                                }

                                p{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 770px) {
    section#nosotros{
        div.cri-container{
            display:flex !important;
            flex-direction: column !important;

            div.cri-divide-left{
                display: flex !important;
                flex-direction: column !important;

                div.cri-grid{
                    margin-top: 1.5em;
                    display: flex !important;
                    height: auto !important;

                    div.cri-img{
                        min-height: 200px !important;
                        min-width: 200px !important;

                        max-width: 200px !important;
                        max-height: 20px !important;
                        img{
                            width: 100% !important;
                            height: 100% !important;   
                        }
                    }
                }
            }

            div.cri-divide{
                margin-top: 1.5em;
                flex-direction: row !important;
                justify-content:start;
                gap: 1%;

                text-align: left !important;
                div.cri-img{
                    width: 200px !important;
                    height: 200px !important;
                }

                div.cri-text{
                    justify-content: start !important;

                    p.cri-desc-grid{
                        text-align: start !important;
                    }
                }
            }
        }
    }

    section#trabajosCon{
        div.cri-title{
            h2{
                font-size: 5rem !important;
            }
        }
    }

    section#contacto{
        div.container:nth-child(2){
    
            div.cri-divider{
                width: 100%;
                margin-top: 1rem;

                svg{
                    display: none;
                }
            }
        }
    }

    footer{
        div.downnavbar{
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            div.divider{
                display: flex;
                flex-wrap: wrap;
                justify-content: center !important;
                align-items: center !important;	
                width: 100%;

                a.cri-brand{
                    font-size: 2rem !important;
                }
            }

            div.divider:nth-child(2){
                a.navbutton{
                    margin-left: 2rem;
                    padding: .4rem .5rem .4rem .5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    section#home{
        div.padding{
            h1.cri-title{
                font-size: 6rem !important;
            }

            p{
                width: 90% !important;
            }

            div.button_content{
                width: 90% !important;
                display: flex;
                flex-direction: column;
                button.cri-btn, a.cri-btn{
                    width: 100%;
                    font-size: 1rem !important;
                }
            }
        }
    }

    section#nosotros{
        div.cri-container{
            div.cri-divide, div.cri-grid, div.cri-text{
                flex-direction: column !important;
                justify-content: center;
                align-items: center;

                text-align: center !important;
                
            }
        }
    }

    div.cri-title{
        width: 100%;
        text-align: center;
    
        h2{
            font-size: 3.5rem !important;
            margin: 1rem !important;
            margin-bottom: 3rem !important;
            padding: 0 !important;
        }
    
    }

    section#trabajosCon{
        div.container{width: 98% !important;}
    
        div.cri-title{
            h2{
                font-size: 4rem !important;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    section#home{
        div.padding{
            h1.cri-title{
                font-size: 4.5rem !important;
            }
        }
    }

    section#portafolio{
        div.container{
            min-width: 98% !important;
        }
        div.cri-card-container{
            grid-template-columns: 100% !important;
            a.cri-card{
                min-width: none !important;
                max-width: 80% !important;

                div.cri-img{
                    width: 100% !important;
                    height: 20rem !important;
                }
            }
        }
    } 

    section#trabajosCon{
        div.container{
            padding-top: 3rem;
        }
        div.cri-title{
            h2{
                font-size: 3rem !important;
            }
        }
    }
}


/*---------------------------------------------------------------------------------- 


Large screens


---------------------------------------------------------------------------------- */

@media only screen and (min-width : 1500px){
    div.cri-title{
        h2{
            font-size: 6rem;
        }
    
    }
     
    .cri-title-desc, .cri-title-desc-2{
        line-height: normal;
        font-size: 2rem;
        width: 80%;
        margin: auto;
        padding-bottom: 1rem;
    }

    nav{
        a.navbar-brand{
            font-size: 2vw;
        }
        ul.navbar-nav{
            li{
                a{
                    font-size: 1.8rem !important;
                    padding: .4rem 2rem !important;
                }
            }
        }
    }

    nav.cri-scroll-change{
        ul.navbar-nav{
            li{
                a{
                    font-size: 1.8rem !important;
                }
            }
        }
    }

    section#home{
        div.padding{

            .cri-title{
                font-size: 10rem;
            }
    
            p{
                width: 60%;
                font-size: 1.5rem;
            }
    
            button, a.cri-btn{
                font-size: 1.6rem;
            }
        }
    }
}


@media only screen and (min-width : 1920px) and (min-height : 1080px){
    /* Styles */

    div.cri-title{
        h2{
            font-size: 6rem;
            margin-bottom: 2rem;
        }
    
    }
    
    
    .cri-title-desc{
        line-height: normal;
        font-size: 2rem;
        width: 80%;
    
    }

    nav{
        ul.navbar-nav{
            li{
                a{
                    font-size: 2.3rem !important;
                    padding: .4rem 2.6rem !important;
                }
            }
        }
    }

    nav.cri-scroll-change{
        ul.navbar-nav{
            li{
                a{
                    font-size: 2rem !important;
                }
            }
        }
    }

    section#home{
        div.padding{

            .cri-title{
                font-size: 16rem;
            }
    
            p{
                width: 70%;
                font-size: 1.7rem;
            }
    
            button, a.cri-btn{
                font-size: 1.8rem;
            }
        }
    }

        
    section#portafolio{
        div.container{
            min-width: 100%;
            div.cri-card-container{
                grid-template-columns: repeat(3, 28vw);
                grid-template-rows: 1fr;
                grid-gap: 2% !important;
                grid-row-gap: 3% !important;
                justify-content: center;
                align-items: center;
                
                a.cri-card{
                    max-width: 100%;
                    height: 100%;

                    div.cri-img{
                        width: 28vw;
                        height: 28vw;
                    }

                    div.cri-text-cont{
                        p.cri-card-title{
                            font-size: 2.9rem;
                        }

                        p.cri-card-desc{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

        
    section#nosotros{
        div.container{
            min-width: 90%;
        }
        div.cri-container{
            div.cri-divide{
                div.cri-img{
                    width: 100%;
                    height: 40vw;
                }
            }
            div.cri-divide-left{
                grid-template-rows: repeat(3, 20vw);
                grid-gap: 2% !important;

                div.cri-grid{
                    height: 100%;
                    grid-template-columns: calc(20vw + 1rem) auto;

                    div.cri-img{
                        width: 19vw;
                        height: 19vw;
                    }
                }
            }

            div.cri-text{
                justify-content:flex-start;
                p.cri-title-grid{
                    font-size: 4rem;
                }

                p.cri-desc-grid{
                    font-size: 1.7rem;
                }
            }
        }
    }

    section#valores, section#servicios{
        div.cri-container{
            width: 90%;
            grid-template-columns: repeat(3, 28vw);
            grid-template-rows: 1fr 1fr;
            grid-gap: 1vw;
            grid-row-gap:1vw;
            
            div.cri-card{
                div.padding{
                    height: 100%;
                    padding-bottom: 2vw;

                    svg{
                        width: 15vw;
                        height: 13vw;
                    }

                    p.cri-card-title{
                        margin-top: 1.5vw;
                        font-size: 3rem;
                    }

                    p.cri-card-desc{
                        margin-top: 1vw;
                        font-size: 1.9rem;
                    }
                }
            }
        }
    }   

    section#trabajosCon{
        div.container{min-width: 90% !important;}

        div.cri-title{
            padding-top: 6vw;
            h2{
                font-size: 9rem !important;
            }
        }

        div.cri-brands{
            padding-bottom: 6vw;
            padding-top: 3vw;
            div.cri-brand, a.cri-brand{
                width: 17vw;
                height: 12vw;
            }
        }
    }

    section#contacto{
        padding-top: 6vw;
        padding-bottom: 12vw;
        div.container:nth-child(2){
            min-width: 80% !important;
            div.cri-divider:nth-child(1){
                width: 50%;
                form{
                    label{
                        font-size: 2.6rem !important;
                        font-style: bold !important;

                        margin-top: 3vw;
                    }
                    input, textarea{
                        font-size: 3rem !important;
                        border: 1px solid #56CCF2;
                    }

                    button{
                        width: 100%;
                        font-size: 3.3rem;
                    }
                }
            }
            div.cri-divider:nth-child(2){
                width: 50%;
                *{
                    margin-bottom: .6rem;
                }

                svg{
                    width: 20vw;
                    height: 20vw;
                }

                p{
                    color: #4F4F4F;
                    font-size: 1.8rem;
                }

                a{
                    color: $btn_bg;
                    font-size: 2.12rem;
                    text-decoration: none;
                    
                }
            }
        }
    }

    
    footer{
        div.downnavbar{
            div.divider:nth-child(2){
                a.navbutton{
                    font-size: 1.9rem;
                }
            }
        }

        div.socialmedia{
            padding-top: 6vh !important; 
            padding-bottom: 6vh !important; 
            a{
                *{
                    font-size: 5rem !important;
                }
            }
        }
        div.copyright {
            a{
                font-size: 1.8rem !important;
            }
        }
    }
}

@media only screen and (min-width : 3300px) and (min-height : 1990px){
    /* Styles */

    div.cri-title{
        margin-top: 6vw !important;
        margin-bottom: 6vw !important;
        h2{
            font-size: 7vw !important;
        }
    
    }
    
    .cri-title-desc{
        font-size: 3vw !important;
    }

    .cri-title-desc-2{
        width: 90% !important;
        font-size: 2vw !important;
    }

    nav{
        padding: 2rem 3rem !important;
        a.navbar-brand{
            img{
                width: 20rem;
                height: 8rem;
                object-fit:contain;
            }
        }
        ul.navbar-nav{
            li{
                a{
                    font-size: 4.5rem !important;
                    padding: .8rem 3rem !important;

                    
                }
            }
        }
    }

    nav.cri-scroll-change{
        a.navbar-brand{
            img{
                width: 15rem !important;
                height: 5rem !important;
                object-fit:contain;
            }
        }

        ul.navbar-nav{
            li{
                a{
                    font-size: 3.5rem !important;

                }
            }
        }
    }

    section#home{
        div.padding{

            .cri-title{
                font-size: 13vw;
            }
    
            p{
                width: 70%;
                font-size: 2vw;
            }
    
            button, a.cri-btn{
                font-size: 2.5vw;
                padding: 1vw 2.6vw;
                margin: 1vw;
            }
        }
    }

        
    section#portafolio{
        div.container{
            div.cri-card-container{
                a.cri-card{
                    div.cri-text-cont{
                        margin: 1.6vw !important;
                        p.cri-card-title{
                            font-size: 2vw;
                        }

                        p.cri-card-desc{
                            font-size: 1.4vw;
                        }
                    }
                }
            }
        }
    }
     
    section#nosotros{
        div.cri-container{
            div.cri-text{
                p.cri-title-grid{
                    font-size: 4vw;
                }

                p.cri-desc-grid{
                    font-size: 1.4vw;
                }
            }
        }
    }

    section#valores, section#servicios{
        div.cri-container{
            div.cri-card{
                div.padding{
                    p.cri-card-title{
                        font-size: 3vw;
                    }

                    p.cri-card-desc{
                        font-size: 1.9vw;
                    }
                }
            }
        }
    }   

    section#trabajosCon{
        div.cri-title{
            h2{
                font-size: 7vw !important;
            }
        }
    }

    section#contacto{
        div.container:nth-child(2){
            div.cri-divider:nth-child(1){
                form{
                    label{
                        font-size: 2vw !important;
                    }
                    input, textarea{
                        font-size: 3vw !important;
                    }

                    button{
                        font-size: 3.3vw;
                    }
                }
            }
            div.cri-divider:nth-child(2){
                p{
                    font-size: 1.8vw;
                }

                a{
                    font-size: 2.12vw;
                    
                }
            }
        }
    }

    
    footer{
        div.container{
            min-width: 90%;
        }
        div.downnavbar{
            div.divider{
                a{
                    font-size: 2vw !important;
                }
            }
        }

        div.socialmedia{
            a{
                padding: 2vw;
                i{
                    font-size: 5vw !important;
                }
            }
        }

        div.copyright {
            a{
                font-size: 1.8vw !important;
            }
        }
    }
}